body {
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #F6F6F6;
}

h1, h2, h3, h4, h5, h6, p, a, li, ul {
    font-family: "Trebuchet MS", sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 20px;
    color: #000000;
    font-weight: normal;
}

.h1-bold {
    font-size: 40px;
    font-style: inherit;
    text-align: center;
    font-weight: calc(750);
    letter-spacing: 0px;
    color: #000000;
    padding-top: 50px;
    padding-bottom: 40px;
}

h2 {
    font-size: 40px;
    font-style: inherit;
    text-align: center;
    font-weight: calc(750);
    letter-spacing: 0px;
    color: #000000;
    padding-top: 50px;
    padding-bottom: 40px;
}

h4 {
    text-align: center;
    color: #3E04E4;
}

li, ul, a {
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    color: #000000;
}

p {
    font-size: 20px;
    color: #000000;
}

.box-60 {
    margin: 0% 25% 0% 25%;
}
.box-80 {
    margin: 0% 15% 0% 15%;
}
.box-60-to-80-tel {
    margin: 0% 25% 0% 25%;
}

.margin-top-5 {
    margin-top: 5%;
}
.margin-top-1_5em {
    margin-top: 1.5em;
}
.margin-bottom-10 {
    margin-bottom: 10%;
}
.margin-bottom-5 {
    margin-bottom: 5%;
}
.margin-bottom-4 {
    margin-bottom: 4%;
}
.margin-bottom-1_5em {
    margin-bottom: 1.5em;
}
.margin-3em {
    margin: 3em;
}
.margin-3em_tel_margin-1_5em {
    margin: 3em;
}
.margin-0_5em {
    margin: 0.5em;
}
.margin-left-3em {
    margin-left: 3em;
}
.margin-left-3em-tel {
    margin-left: 3em;
}
.margin-left-0_5em {
    margin-left: 0.5em;
}
.margin-left-0_3em {
    margin-left: 0.3em;
}
.margin-right-7em {
    margin-right: 7em;
}
.margin-right-3em {
    margin-right: 3em;
}
.margin-right-0_5em {
    margin-right: 0.5em;
}
.m-auto {
    margin: auto;
}
.ml-auto {
    margin-left: auto;
}
.mr-auto {
    margin-right: auto;
}
.margin-left-1_5em_pc {
    margin-left: 1.5em;
}

.padding-bottom-10 {
    padding-bottom: 10%;
}
.padding-bottom-4 {
    padding-bottom: 4%;
}
.padding-bottom-2 {
    padding-bottom: 2%;
}
.padding-bottom-3 {
    padding-bottom: 3%;
}
.padding-both-2em {
    padding-left: 2em;
    padding-right: 2em;
}
.padding-both-1em {
    padding-left: 1em;
    padding-right: 1em;
}
.padding-both-0em_1em-tel {
    padding-left: 0em;
    padding-right: 0em;
}

.text-align-left {
    text-align: left;
}
.text-align-right {
    text-align: right;
}
.text-align-center {
    text-align: center;
}
.text-align-both {
    text-align: justify;
}
.text-white {
    color: #f6f6f6;
}

.highlight-hover:hover {
    filter: drop-shadow(4px 5px 5px #cacbcc);
}

.strong-green {
    color: #18AA00;
    font-weight: calc(750);
}
.strong-blue {
    color: #3E04E4;
    font-weight: calc(750);
}
.strong-dark {
    font-weight: calc(750);
}
.strong-dark-2 {
    font-weight: bold;
}

button.green {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 20px;
    background-color: #18AA00;
    padding: 8px 8px 8px 8px;
    border-radius: 8px;
    color: #F6F6F6;
    border: none;
}
button.blue {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 20px;
    background-color: #3E04E4;
    padding: 8px 8px 8px 8px;
    border-radius: 8px;
    color: #F6F6F6;
    border: none;
}

.section-white {
    background-color: #FEFEFE;
    display: block;
}
.section-grey {
    background-color: #F6F6F6;
    display: block;
}

.hidden-div {
    position: relative;
    visibility: hidden;
}

.overlay-svg {
    position: absolute;
    visibility: visible;
    z-index: 2; /* Assurez-vous que les SVGs sont au-dessus de tout */
}

.vertical-align-div {
    align-items: center; /* Centre verticalement les éléments dans le conteneur */
    justify-content: space-between; /* Optionnel : espace entre les deux divs */
}

.vertical-align-div-2 {
    align-items: center; /* Centre verticalement les éléments dans le conteneur */
}

.degrade-green-to-blue {
    background: linear-gradient(to right, #18AA00, #3E04E4);
    background-clip: text;
    color: transparent;
}
.work-sans-900 {
    font-weight: calc(900);
    font-family: 'Work Sans', sans-serif;
}

.tel-15px {
    font-size: 20px;
}

.fs22 {
    font-size: 22px;
}
.fs25 {
    font-size: 25px;
}
.fs30 {
    font-size: 30px;
}
.fs25-35-tel {
    font-size: 22px;
}
.fs20-30-tel {
    font-size: 20px;
}

.w-100p {
    width: 100%;
}
.w-120p {
    width: 100%;
}

.height-max {
    height: auto;
}

.smart {
    display: none;
}
.pc {
    display: initial;
}
.hidden-div-tel {
    display: flex;
}
.show-div-tel {
    display: none;
}
.row-inv {
    flex-direction: row;
}
.column-inv {
    flex-direction: row;
}

.div-right-div-center {
    justify-content: flex-end;
}


.hover-shadow {
    transition: all 0.7s ease;
}
.hover-shadow {
    transition: all 0.7s ease;
}
.hover-shadow:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.hover-shadow-blue {
    transition: all 0.7s ease;
}
.hover-shadow-blue:hover {
    box-shadow: 0px 4px 10px rgba(62, 4, 228, 0.3);
    text-shadow: 2px 2px 5px rgba(62, 4, 228, 0.3);
}
.hover-shadow-blue:hover {
    text-shadow: 2px 2px 5px rgba(62, 4, 228, 0.3);
}
.hover-shadow-green {
    transition: all 0.7s ease;
}
.hover-shadow-green:hover {
    text-shadow: 2px 2px 5px rgba(24, 170, 0, 0.4);
}
.hover-shadow-green:hover {
    text-shadow: 2px 2px 5px rgba(24, 170, 0, 0.4);
}


.svg-shadow {
    transition: filter 0.5s ease;
}

.svg-shadow:hover {
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3));
}

.zoom-svg {
    transition: transform 0.3s ease-in-out;
}
.zoom-svg:hover {
    transform: scale(1.05);
}

.zoom-container {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}
.zoom-container:hover {
    transform: scale(1.05);
}

.text-align-left_center-tel {
    text-align: left;
}

@media (max-width: 1000px) {
    body {
        font-style: normal;
        font-weight: normal;
        color: #000000;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    h1, h2, h3, h4, h5, h6, p, a, li, ul {
        font-family: "Trebuchet MS", sans-serif;
    }

    h1 {
        font-size: 13px;
        color: #000000;
        font-weight: normal;
    }

    h2 {
        font-size: 30px;
        font-style: inherit;
        text-align: center;
        font-weight: calc(750);
        letter-spacing: 0px;
        color: #000000;
        padding-top: 25px;
        padding-bottom: 20px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        text-align: center;
        color: #3E04E4;
        font-size: 14px;
    }

    li, ul, a {
        font-size: 13px;
    }

    p {
        font-size: 13px;
        color: #000000;
    }

    svg{
        width: 70%;
        height: auto;
    }

    .smart {
        display: initial;
    }
    .pc {
        display: none;
    }

    .li.list {
        width: 70%;
        height: auto;
    }

    button.green {
        font-family: "Trebuchet MS", sans-serif;
        font-size: 29px;
        background-color: #18AA00;
        padding: 4px 10px 4px 10px;
        border-radius: 8px;
        color: #F6F6F6;
        border: none;
    }
    button.blue {
        font-family: "Trebuchet MS", sans-serif;
        font-size: 29px;
        background-color: #3E04E4;
        padding: 4px 10px 4px 10px;
        border-radius: 8px;
        color: #F6F6F6;
        border: none;
    }

    .Opx {
        height: 0px;
    }

    .row-inv {
        flex-direction: column;
    }
    .column-inv {
    flex-direction: row;
    }
    .hidden-div-tel {
    display: none;
    }
    .show-div-tel {
        display: flex;
    }

    .text-align-left_center-tel {
        text-align: center;
    }

    .div-right-div-center {
    justify-content: center;
    }

    .w50p {
        width: 50%;
        height: auto;
    }
    .w80p {
        width: 80%;
        height: auto;
    }
    .w-120p {
        width: 120%;
        height: auto;
    }
    .margin-left-3em-tel {
    margin-left: 0.5em;
    }
    .margin-3em_tel_margin-1_5em {
        margin: 1.5em;
    }
    .padding-both-0em_1em-tel {
        padding-left: 1em;
        padding-right: 1em;
    }
    .tel-15px {
    font-size: 11px;
    }
    .fs25-35-tel {
        font-size: 40px;
    }
    .fs20-30-tel {
        font-size: 30px;
    }

    .box-60 {
    margin: 0% 25% 0% 25%;
    }
    .box-80 {
        margin: 0% 15% 0% 15%;
    }
    .box-60-to-80-tel {
        margin: 0% 15% 0% 15%;
    }
    .margin-left-1_5em_pc {
    margin-left:0em;
    }

    .fs-57 {
        font-size: 57px;
    }

    .fs-34 {
        font-size: 34px;
    }
}