.logos-pos {
    position: relative;
    top: -292px;
}

.logos-left-size {
    height: 260px;
    width: auto;
}
.logos-right-size {
    height: 260px;
    width: auto;
    padding-top: 40px;
}
.logos-certif-size {
    max-height: 267px;
    width: auto;
}

.show-certifs-tel {
    display: none;
}

.text-pos {
    position: relative;
    text-align: center;
    width: 100vw !important;
}

.controls-pos {
    position: relative;
    top: -440px;
}

.green-flame {
    top: 0px; /* Ajustez la position verticale si nécessaire */
    right: 0; /* Le coller au bord droit de l'écran */
    left: auto; /* Annule toute règle left potentielle */
}

.blue-flame {
    top: 550px; /* Ajustez la position verticale si nécessaire */
    right: auto; /* Le coller au bord droit de l'écran */
    left: 0; /* Annule toute règle left potentielle */
}

@media (max-width: 1400px) {
    .logos-certif-size {
        max-height: 267px;
        width: auto;
        display: none;
    }

    .show-certifs-tel {
        display: flex;
    }
}