.logos-pos {
    position: relative;
    top: -225px;
}

.logos-left-size {
    height: 260px;
    width: auto;
}
.logos-right-size {
    height: 260px;
    width: auto;
    padding-top: 40px;
}
.logos-certif-size {
    max-height: 267px;
    width: auto;
}

.show-certifs-tel {
    display: none;
}

.text-pos {
    position: relative;
    text-align: center;
    width: 100vw !important;
}

.controls-pos {
    position: relative;
    top: -440px;
}

.green-flame {
    top: 0px;
    right: 0;
    left: auto;
}

.blue-flame {
    right: auto;
    left: 0;
}

.blue-flame-apropos {
    top: 250px;
    right: auto;
    left: 0;
}

@media (max-width: 1400px) {
    .logos-certif-size {
        max-height: 267px;
        width: auto;
        display: none;
    }

    .show-certifs-tel {
        display: flex;
    }
}