* {
    box-sizing: border-box;
}

nav {
    z-index: 3;
    position: fixed;
    top: 0px;
    left: 0px;
}

.rotate {
    transform: rotate(180deg);
}

.flex-navbar {
    background-color: #fafafa;
    resize: horizontal;
    display: flex;
    width: 100vw;
}

.navbar-effect {
    filter: drop-shadow(0px 5px 5px #cacbcc);
}

.img-resize {
    max-width: 300px;
    margin: auto;
    padding: 0.5em;
}

.img-resize-footer {
    max-width: 400px;
    padding: 0em 0.2em 0.2em 0.2em;
}

.navbar-list {
    display: flex;
    list-style: none;
    height: 100%;
}

.center {
    margin: 0.8em;
    padding: 0.5em;
}

.text-none {
    text-decoration: none;
}

.margin-1_5em {
    margin: 1.5em;
}

.margin-right-1_5em {
    margin-right: 1.5em;
}

.margin-left-1_5em {
    margin-left: 1.5em;
}

.margin-left-1em {
    margin-left: 1em;
}

.contact {
    padding-right: 1.2em;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.div-right {
    justify-content: flex-end;
}

.div-center {
    justify-content: center;
}

.item {
    margin: 1em;
    padding: 0.5em;
    width: 110px;
    min-width: 0;
    color: white;
    font-family: monospace;
}

.auto {
    flex: auto;
}

.one {
    flex: 0.48;
}

.two {
    flex: 0.48;
}

.four {
    flex: 1;
}

.product-item:hover svg {
    transform: rotate(180deg); /* Appliquer une rotation de 180 degrés */
    transition: transform 0.5s ease; /* Animation fluide de la rotation */
}

.navbar-list a {
    color: inherit;
    transition: color 1s ease;
}

.navbar-list a:hover {
    color: #18AA00;
}

.green {
    color: #18AA00 !important; /* Vert pour l'élément actif */
}

.blue {
    color: #3E04E4;
!important pointer-events: none; /* Désactive le lien pour indiquer que l'utilisateur est déjà sur cette page */
}

.svg-green {
    fill: #18AA00; /* Applique la couleur verte au remplissage */
    stroke: #18AA00; /* Applique la couleur verte au contour */
}


.product-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    transition: color 1s ease;
}

.product-link:hover {
    color: #18AA00;
}

.product-link:hover svg path {
    fill: #18AA00;
    stroke: #18AA00;
    transition: fill 1s ease, stroke 1s ease;
}

.product-link.green {
    color: #18AA00 !important;
}

.product-link.green svg path {
    fill: #18AA00;
    stroke: #18AA00;
    pointer-events: none;
}

.product-link.green:hover {
    color: #18AA00;
}

.product-link.green:hover svg path {
    fill: #18AA00;
    stroke: #18AA00;
}

.product-link svg path {
    fill: black;
    stroke: black;
    transition: fill 1s ease, stroke 1s ease;
}

.product-link {
    transition: color 1s ease;
}

.svg-right {
    justify-content: flex-end;
}

.svg-left {
    justify-content: flex-start;
}

.scroll-nav-tel {
    position: absolute;
    overflow-y: scroll;
    background-color: #FAFAFA;
    width: 100vw;
    height: 100vh;
    scrollbar-width: none;
}

@media (max-width: 1400px) {
    .svg-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        width: 100vw;
    }

    .svg-right {
        justify-content: flex-end;
        /*right: 0;*/
    }

    .svg-left {
        justify-content: flex-start;
    }
}
