/* ---------------------------- */
/* Défilement de droite à gauche */
.marquee-rtl {
  overflow: hidden; /* important */
}
.marquee-rtl > div {
  display: inline-block; /* important */
  white-space: nowrap; /* important */
  animation: defilement-rtl 150s infinite linear; /* défilement */
  cursor: pointer;
}

.marquee-rtl > div:first-letter {
  font-weight: 700;
  color: #F00;
}
@keyframes defilement-rtl {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  100% {
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
  }
}

/* ---------------------------- */
/* déco */
h2, p { text-align:center; }

.marquee-rtl {
  margin: 2em auto;
}
.marquee-rtl > div {
  font-size: 1.5em;
}
