.carousel {
    margin: 0 auto;
    width: var(--width);
}

.carousel .content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.carousel .content .card {
    height: calc(var(--height) + 5em);
    opacity: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.carousel .content .card h1 {
    width: 100%;
    height: auto;
    text-align: center;
}

.carousel .control {
    width: 100%;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.carousel .control svg {
    fill: currentColor;
    width: 50px;
    height: auto;

    padding: 5px;
    border-radius: 50%;
}

.carousel .control svg:hover {
    cursor: pointer;
    filter:drop-shadow(4px 5px 5px #444444);
}

.image-container {
  width: 100%; /* Ajuste la largeur de la div */
  height: 800px; /* Ajuste la hauteur selon vos besoins */
  position: relative; /* Nécessaire pour la positionnement absolu de l'image */
  overflow: hidden; /* Coupe l'image si elle dépasse */
}
.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Assure que l'image prend 100% de la largeur */
  height: 100%; /* Assure que l'image prend 100% de la hauteur */
  object-fit: cover; /* Permet de couvrir toute la div en conservant les proportions de l'image */
}

.flash {
    animation: flash-animation 0.5s forwards;
}

@keyframes flash-animation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5; /* Réduction de l'opacité pour l'effet de flash */
    }
    100% {
        opacity: 1;
    }
}